.gifs {
    margin: 2px;
    text-align:center;
}

form {
    padding: 10px;
    padding-left: none;
}

#gifs-view {
    margin-left:15px;
    padding:10px;
}

.scrollBox {
    height: 550px;
    overflow-y: scroll;
}