.gifs {
    margin: 2px;
    text-align:center;
}

form {
    padding: 10px;
}

#gifs-view {
    border-left: 1px solid gray;
    border-right: 1px solid gray;    
    margin-left:15px;
    padding:10px;
}
